
.hamburger__toggle {
    display: block;
    height: 5px;
    
    background-color: #ffffff;
   
   
    border-radius: 50%;
    border: none;
    
}

.hamburger__icon,
.hamburger__icon::before,
.hamburger__icon::after {
    position: absolute;
    
    border-radius: 4px;
    background-color: rgb(218, 127, 127);
}

.hamburger__icon {
   right:10px;
}

.hamburger__icon::before,
.hamburger__icon::after {
    content: "";
    left: 0;
}

.hamburger__icon::before {
    bottom: 8px;
}

.hamburger__icon::after {
    top: 8px;
}

.toggled .hamburger__icon {
    height: 5px;
    width: 54px;
    
    top: calc(50% - 2px);
    transform: rotate(-45deg);
    background-color: #ffa500;
}

.toggled .hamburger__icon::after {
    width: 54px;
    height: 5px;
    top: -1px;
    right: 0px;
    transform: rotate(-270deg);
    background-color: #ffa500;
}

.toggled .hamburger__icon::before {
    transform: scale(0);
    display: flex;
}

.hamburger__icon, .hamburger__icon::after, .hamburger__icon::before {
    transition: all 0.5s linear;
}